<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Muturu Cattle Breed</title>
      <meta name="keywords" content="Prof. (Mrs) Oluwatosin Muturu Cattle Breed, FUNAAB IFSERAR, Abeokuta">
      <meta name="description"
      content="Muturu Cattle Breed Farming at IFSERAR, FUNAAB, Abeokuta. Project supervised by Prof. (Mrs) Oluwatosin B.O.">
      <meta name="author" content="Prof. (Mrs) Oluwatosin B.O">
      <!-- owl carousel style -->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.carousel.min.css" />
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->

      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700">
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
      <link rel="stylesheet" type="text/css" href="{% static 'font/Roboto-Black.ttf' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'font/Roboto.ttf' %}">

      <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/icomoon.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/meanmenu.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/nice-select.css' %}">

      <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/icon-1.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets -->
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!--header section start -->
      <div class="header_section">
         <nav class="navbar navbar-dark bg-dark">
            <a class="logo" href="#"><img src="{% static 'images/logo.png' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01"
                    aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample01">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'about' %}">About</a>
                  </li>
               </ul>
            </div>
         </nav>
         <!--banner section start -->
         <div class="banner_section layout_padding">
            <div class="container-fluid">
               <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                     <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                     <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                     <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                     <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  </ol>
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="container">
                           <h4 class="banner_taital">Cattle Breed</h4>
                           <h1 class="banner_taital_1">M U T U R U</h1>
                           <p class="banner_text">Project Sponspored By TETFUND, FUNAAB And Supervised By Prof. (Mrs) Oluwatosin B.O.</p>
                           <div class="book_bt"><a href="#">Read More</a></div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="container">
                           <h4 class="banner_taital">Cattle Breed</h4>
                           <h1 class="banner_taital_1">M U T U R U</h1>
                           <p class="banner_text">Project Sponspored By TETFUND, FUNAAB And Supervised By Prof. (Mrs) Oluwatosin B.O.</p>
                           <div class="book_bt"><a href="#">Read More</a></div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="container">
                           <h4 class="banner_taital">Cattle Breed</h4>
                           <h1 class="banner_taital_1">M U T U R U</h1>
                           <p class="banner_text">Project Sponspored By TETFUND, FUNAAB And Supervised By Prof. (Mrs) Oluwatosin B.O.</p>
                           <div class="book_bt"><a href="#">Read More</a></div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="container">
                           <h4 class="banner_taital">Cattle Breed</h4>
                           <h1 class="banner_taital_1">M U T U R U</h1>
                           <p class="banner_text">Project Sponspored By TETFUND, FUNAAB And Supervised By Prof. (Mrs) Oluwatosin B.O.</p>
                           <div class="book_bt"><a href="#">Read More</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--banner section end -->
      </div>
      <!--header section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <h1 class="about_taital"><img src="{% static 'images/icon-1.png' %}"> <span>About Muturu</span></h1>
                  <p class="about_text">The indigenous Muturu cattle (MC) found almost in all the geopolitical zones in Nigeria have
                    maintained a sub-optimal level of performance compared to the White Fulani (WF) cattle breed which is the most
                    predominant in Nigeria, making up to 51% of the national cattle herd.</p>
                  <p class="about_text">About 99% of the MC population managed under the traditional
                    pastoral system rely predominantly on natural range resources and crop residues</p>
                  <div class="read_bt"><a href="{% url 'about' %}">Read More</a></div>
               </div>
               <div class="col-md-6">
                  <div><img src="{% static 'images/img-1.jpg' %}" class="image_1"></div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- game section start -->
      <div class="game_section layout_padding">
         <div class="container">
            <h1 class="game_taital"><img src="{% static 'images/icon-1.png' %}"> <span>Photo Sections</span></h1>
            <!-- <p class="game_text"></p> -->
            <div class="game_section_2 layout_padding">
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <div class="image_2">
                        <h1 class="number_text">01</h1>
                        <h1 class="game_text_1">Land Preparation</h1>
                        <p class="many_text"></p>
                     </div>
                     <div class="playnow_bt active"><a href="#">Know More</a></div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="image_3">
                        <h1 class="number_text_1">02</h1>
                        <h1 class="game_text_1">Pasture Establishment</h1>
                        <p class="many_text"></p>
                     </div>
                     <div class="playnow_bt"><a href="#">Know More</a></div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="image_4">
                        <h1 class="number_text_2">03</h1>
                        <h1 class="game_text_1">Linear Morphometric Measurement</h1>
                        <p class="many_text"></p>
                     </div>
                     <div class="playnow_bt"><a href="#">Know More</a></div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="image_5">
                        <h1 class="number_text_3">04</h1>
                        <h1 class="game_text_1">Forage Conservation</h1>
                        <p class="many_text"></p>
                     </div>
                     <div class="playnow_bt"><a href="#">Know More</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- game section end -->
      <!-- play section start -->
      <div class="play_section layout_padding">
         <div class="container">
            <h1 class="play_taital"><img src="{% static 'images/icon-1.png' %}"> <span>Some Major Projects</span></h1>
            <p class="play_text"></p>
            <div class="game_section_2 layout_padding">
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <div class="box_section">
                        <img src="{% static 'images/img-001.jpg' %}" class="image_6">
                     </div>
                     <h2 class="register_text">Animal Selection</h2>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="box_section">
                        <img src="{% static 'images/img-003.jpg' %}" class="image_6">
                     </div>
                     <h2 class="register_text">Artificial Insemination</h2>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="box_section">
                        <img src="{% static 'images/img-002.jpg' %}" class="image_6">
                     </div>
                     <h2 class="register_text">Pasture Irrigation</h2>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="box_section">
                        <img src="{% static 'images/img-004.jpg' %}" class="image_6">
                     </div>
                     <h2 class="register_text">Farmers' Forum</h2>
                  </div>
               </div>
               <div class="playnow_bt"><a href="#">Read Now</a></div>
            </div>
         </div>
      </div>
      <!-- game section end -->
      <!-- client section start -->
      <div class="client_section layout_padding">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="casino_taital"><img src="{% static 'images/icon-1.png' %}"> <span>Meet The Team</span></h1>
                     <div class="image_7"><img src="{% static 'images/img-111.jpeg' %}"></div>
                     <h4 class="jone_text">Prof. (Mrs) Oluwatosin B.O.</h4>
                     <p class="ipsum_text"><span class="padding_right_20"><img src="{% static 'images/left-quote.png' %}">
                     </span>Lead Supervisor<span class="padding_left_20"><img src="{% static 'images/right-quote.png' %}"></span></p>
                     <p class="ipsum_text"></p>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="casino_taital"><img src="{% static 'images/icon-1.png' %}"> <span>Meet The Team</span>
                     </h1>
                     <div class="image_7"><img src="{% static 'images/img-112.jpeg' %}"></div>
                     <h4 class="jone_text">Dr. Wheto M.</h4>
                     <p class="ipsum_text"><span class="padding_right_20"><img src="{% static 'images/left-quote.png' %}">
                     </span>Supervisor I<span class="padding_left_20"><img src="{% static 'images/right-quote.png' %}"></span></p>
                     <p class="ipsum_text"></p>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="casino_taital"><img src="{% static 'images/icon-1.png' %}"> <span>Meet The Team</span>
                     </h1>
                     <div class="image_7"><img src="{% static 'images/img-113.jpeg' %}"></div>
                     <h4 class="jone_text">Dr. Oderinwale O.A.</h4>
                     <p class="ipsum_text"><span class="padding_right_20"><img src="{% static 'images/left-quote.png' %}">
                     </span>Supervisor II<span class="padding_left_20"><img src="{% static 'images/right-quote.png' %}">
                     </span></p>
                     <p class="ipsum_text"></p>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- client section end -->
      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container">
            <h1 class="touch_taital"><img src="{% static 'images/icon-1.png' %}"> <span>Get In touch</span></h1>
            <div class="contact_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="email_text">
                        <div class="form-group">
                           <input type="text" class="email-bt" placeholder="Name" name="Email">
                        </div>
                        <div class="form-group">
                           <input type="text" class="email-bt" placeholder="Phone Numbar" name="Email">
                        </div>
                        <div class="form-group">
                           <input type="text" class="email-bt" placeholder="Email" name="Email">
                        </div>
                        <div class="mt-3">
                        </div>
                        <div class="form-group">
                           <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                        </div>
                        <div class="send_btn"><a href="#">SEND</a></div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="map_main">
                        <div class="map-responsive">
                           <iframe src="https://www.google.com/maps/place/colanim+farm+cattle+shed/@7.2286424,3.4258303,17.52z/data=!4m5!3m4!1s0x103a37dcfefe4537:0x87ceea33ffa9809a!8m2!3d7.2279893!4d3.4271866"
                                   width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding">
      <div class="container">
         <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
               <span class="input-group-text" id="basic-addon2">Subscribe</span>
            </div>
         </div>
         <div class="social_icon">
            <ul>
               <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
               <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
               <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
               <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
            </ul>
         </div>
         <div class="location_section">
            <ul>
               <li><a href="#"><img src="{% static 'images/mail-icon.png' %}"><span class="padding_left_15">muturucattleproject@gmail.com</span></a></li>
               <li><a href="#"><img src="{% static 'images/call-icon.png' %}"><span class="padding_left_15">+234 803 211 0281</span></a></li>
               <li><a href="#"><img src="{% static 'images/map-icon.png' %}"><span class="padding_left_15">Location</span></a></li>
            </ul>
         </div>
         <!-- copyright section start -->
         <div class="copyright_section">
            <h1 class="copyright_text">Copyright 2023 All Right Reserved By <a href="#"> Muturu Cattle Project
            </h1>
         </div>
         <!-- copyright section end -->
      </div>
      <!-- footer section end -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <!-- javascript -->
      <script src="{% static 'js/owl.carousel.js' %}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script type="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2//2.0.0-beta.2.4/owl.carousel.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="{% static '../../assets/js/vendor/popper.min.js' %}"></script>
      <script src="{% static '../../dist/js/bootstrap.min.js' %}"></script>
   </body>
</html>
